.header-label {
	color: map-deep-get($color, 'first-base');
	font-size: 12px;
	line-height: 1;

	p {
		margin: 0;
	}
	
	@include media("≥tablet", "<desktop") {
		font-size: 25px;	
	}

	@include media("≥desktop") {
		display: none;	
	}
}