.brighten-orphan {
	background-color: map-deep-get($color, 'brighten-orphan');
}
.lighten-orphan	{
	background-color: map-deep-get($color, 'lighten-orphan');
}
.darken-more-orphan {
	background-color: map-deep-get($color, 'darken-more-orphan');
}