.text {

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		padding: 33px 25px 0 35px;
		
		@include media("≥desktop") {
			flex-direction: row;
			flex-wrap: wrap;	
		}
	    @include media("≥tablet", "<desktop") {
			padding: 67px 73px 0 75px;
		}
		@include media("≥desktop", "<widescreen") {
			padding: 67px 73px 0 76px;
		}
	    @include media("≥widescreen") {
			padding: 51px 73px 0 80px;
	    }

		h1 {
			margin-bottom: 19px;
			line-height: 1;
			font-size: 19px;
			text-align: left;
			color: map-deep-get($color, 'brighten-smoothen-orphan');
			
			@include media("≥tablet") {
				font-size: 30px;
				font-weight: 400;
		    }
		    @include media("≥tablet", "<desktop") {
				margin:  0 ;
				margin-bottom: 45px;
			}
			@include media("≥desktop", "<widescreen") {
				margin-bottom: 23px;
			} 
			@include media("≥widescreen") {
				margin-bottom: 22px;
			} 
		}		
		p:nth-child(2), p:nth-child(4) {
			@include media("≥desktop", "<widescreen") {
				padding: 0 20px 0 16px;
			}
			@include media("≥widescreen") {
				padding: 0 10px 0 10px;
			}
		}
		p:nth-child(1), p:nth-child(3) {
			@include media("≥desktop", "<widescreen") {
				padding: 0 36px 0 0;
			}
			@include media("≥widescreen") {
				padding: 0 20px 0 0;
			}
		}
		.text-container {
			display: flex;
			flex-flow: column wrap;
			justify-content: space-between;
			align-items: center;	
			font-size: 14px;
			color: map-deep-get($color, 'darken-smoothen-orphan');

			@include media("≥desktop") {
				flex-direction: row;
			}
			@include media("≥tablet", "<desktop") {
				font-size: 22px;
		    }

		    .paragraph {
		    	margin: 0 0 23px;
		    	line-height: 1.6;
		    	flex: 0 1 48%;
			
			@include media("≥tablet", "<desktop") {
				margin: 0 0 56px;
				line-height: 1.97;
		    }
			@include media("≥desktop", "<widescreen") {
				margin: 0 0 57px;
				line-height: 1.9;
			} 
		    @include media("≥widescreen") {
				margin: 0 0 31px;
				line-height: 1.9;
		    }
		    }
		}
	}
}